@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
:root {
    /* Primary Colours */
    --primary-50: hsl(249, 99%, 64%);
    --primary-100: hsl(278, 94%, 30%);
    --primary-200: hsl(0, 100%, 66%);

    /* Neutral Colours */
    --neutral-100: hsl(0, 0%, 100%);
    --neutral-200: hsl(270, 3%, 87%);
    --neutral-300: hsl(279, 6%, 55%);
    --neutral-400: hsl(278, 68%, 11%);
    
    /* Typography */
    font-size: 18px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;

    overflow: hidden;
}

input[type="text"] {
    font-size: .8rem;
    padding: 8px;
}

input[type="button"],
button {
    text-transform: capitalize;
}

label,
.cardholder-name-display {
    text-transform: uppercase;
}

button,
input[type="button"] {
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--neutral-200);
    border-radius: 8px;
}

.input-group label {
    width: 100%;
    font-size: .7rem;
    margin-bottom: 8px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Mobile - 375px */
main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

main > * {
    width: auto; 
}

main .background {
    position: relative;
    height: 33%;
}

.background .card {
    position: absolute;
    top: 7rem;
    width: 75%;
    height: auto;
    contain: size;
}

.front {
    left: 1.3rem;
    z-index: 2;
}

.front::after {
    content: "";
    position: absolute;
    top: .2rem;
    left: .8rem;
    width: 50px;
    aspect-ratio: 1;
    background: url(../images/card-logo.svg) no-repeat;
    background-position: center center;
    background-size: 95%;
}

.background .back {
    top: 2.2rem;
    right: 1.3rem;
}

.card .card-details {
    position: absolute;
    top: 5rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0 10px;

    width: 100%;
}

.back .card-details {
    top: 3.9rem;
    left: 12rem;

    z-index: 2;
}

.card-details .card-number-display {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: .5rem;
}

.card-details > * {
    color: var(--neutral-100);
    font-size: .7rem;
}

.card > img {
    width: 100%;
    object-fit: contain;
}

.data-wrapper[confirmed="false"] .completed-state {
    display: none;
}

.data-wrapper[confirmed="true"] .form-wrapper {
    display: none;
}

.data-wrapper {
    height: 67%;
}

form {
    display: flex;
    flex-direction: column;

    gap: 1.5rem 0;
    padding: 0 1.3rem;
    padding-top: 5rem;
}

.input-group {
    display: inherit;
    flex-wrap: wrap;
    justify-content: center;
}

.form-row {
    display: inherit;
}

.form-row > * {
    width: 50%;
}

.row-group {
    display: inherit;
    gap: 0 10px;
}

.row-group input {
    width: calc(50% - 10px);
}

input[type="button"] {
    width: 100%;
    height: 2.3rem;
    border: 0; 
    border-radius: 8px;
    font-size: .8rem;
    background: var(--neutral-400);
    color: var(--neutral-100);
}

/* Medium - 720px */

/* Desktop - 1440px */
@media screen and (width >= 1440px) {
    main {
        flex-direction: row;
    }

    .background {
        width: 31.5%;
        height: 100%;    
    }

    .card {
        margin-left: 12rem;
    }

    .front {
        margin-top: 2rem;
    }
    .back {
        margin-top: 19rem;
        left: 6rem;
    }

    .front > *:not(img) {
        margin-top: 2rem;
    }

    .front::after {
        top: 1rem;
    }

    .back > .card-details {
        margin-top: 4%;
        margin-left: 12%;
    }

    .data-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 68.5%;
        height: 100%;
    }

    .form-wrapper {
        width: 40%;
    }
}